<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Lista della Spesa</title>
    </head> 
<body>
    <h1>Lista spesa</h1>
    <form action="/aggiungi" method="post">
        <input type="text" name="elemento" placeholder="Aggiungi un elemento" required>
        <button type="submit">Aggiungi</button>
    </form>
    <br>
    <div id = "cosa">
        {% if lista_spesa %}
        <ul>
            {% for elemento in lista_spesa %}
            <li>
                {{ elemento.elemento }}
                <form action="/rimuovi/{{ elemento.id }}" method="post" style="display:inline;">
                <button type="submit">Rimuovi</button></form>
            </li>
            {% endfor %}
        {% else %}
            <p>La lista è vuota.</p>
        {% endif %}
        </ul>
        <form action="/svuota" method="post" style="display:inline;">
            <button type="submit">Svuota lista</button>
        </form>
    </div>
    <br>
</body>